.header {
    font-family: 'Font';
    width: 100%;
        height: 24rem;

    .header_content {
        width: 100%;
        height: 24rem;
        background-image: url('../../img/banner_vinted.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: 55%;
      
        
        .starting_block {
            background-color: #fff;
            width: 33vw;
            height: 45vh;
            border-radius: 4px;
            position: relative;
            top: 4rem;
            left: 1.4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            box-shadow: -1px -1px 3px rgb(227, 227, 227);

            #ready {
                
                font-size: 2.2rem;
             
                margin: 1rem 1.4rem;
            }

            #start {
                color: white;
                background-color: #0AAEB7;
                border: none;
                border-radius: 4px;
                padding: 1rem;
                margin-left: 1.4rem;

                &:hover {
                box-shadow: 0px 12px 20px 3px #0bd0db inset;
              }
            }

            #discover {
                text-decoration: none;
                color: #0AAEB7;
                margin-left: 1.4rem;
                margin-bottom: 1.4rem;
            }
        }

        


    }
    img {
            width: 65%;
            position: absolute;
            right: 0;
            bottom: 4.6rem;
        }
}

@media screen and (max-width: 960px) {
    .header {
        .header_content {
            .starting_block {
                width: 42vw;
                height: 45vh;
                #ready {

                }
                #start {

                }
                #discover {

                }
            }
        }
        img {
            width: 55%;
           bottom: 5.5rem;
        }
    }
}
@media screen and (max-width: 720px) {
    .header {
        .header_content {
            .starting_block {
                width: 100vw;
                height: 30vh;
                left: 0;
                top: 25rem;
                box-shadow: none;
                border-radius: 0;
                justify-content: flex-start;
                align-items: center;
                

                #ready {
                    font-size: 1.6rem;
                    margin-left: 0;
                    margin-right: 0;
                    
                }
                #start {
                    width: 90vw;
                    font-size: 1.2rem;
                    margin-left: 0;
                }
                #discover {
                    margin-top: 1rem;
                    font-size: 1.2rem;
                    margin-left: 0;
                }
            }
        }
        img {
            width: 105%;
           bottom: 5rem;
        }
    }
}