.product_card_offer {
  padding-top: 5rem;
  background-color: #f5f6f7;
  font-size: 0.9rem;
  color: #111111;
  padding-bottom: 2rem;
  .offer_content {
    display: flex;
    justify-content: space-between;

    .images {
      margin-left: 4rem;
      .images_content {
        display: flex;
        justify-content: center;
        .image_main {
          img {
            object-fit: contain;
          }
        }
        .images_stamp {
          display: none;
          justify-content: flex-start;
          flex-wrap: wrap;
          width: 500px;
          img {
            object-fit: fill;
          }
        }
      }

      .product_suggestion {
        background-color: #fff;
        width: 50vw;
        margin-left: 0.6rem;
        .member_items {
          padding: 1rem 1rem 0.2rem 1rem;
          color: #999999;
        }

        .big_buy {
          border: 1px solid lightgray;
          padding: 0.6rem 1.6rem 0rem 0.6rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .text_shop {
            span {
              color: #111111;
              font-size: 1.1rem;
            }
            p {
              color: #707070;
              font-size: 1.2rem;
            }
          }
          button {
            padding: 0.4rem 0.8rem;
            border: 1px solid #0aaeb7;
            border-radius: 4px;
            background-color: #0aaeb7;
            color: #fff;
          }
        }
      }
    }

    .product_info {
      margin-right: 4rem;
      width: 35vw;
      border-radius: 4px;
      background-color: #fff;

      .product_price {
        margin-left: 1rem;
        margin-top: 0.8rem;
        strong {
          margin-left: 1rem;
          font-size: 1.8rem;
        }

        .insurance {
          display: flex;
          justify-content: space-around;
          align-items: center;
          border-bottom: 1px solid lightgray;
          margin: 0 1.8rem 1rem 0.8rem;
          .icon_shield {
            width: 2.8rem;
            height: 1.5rem;
            border-radius: 50%;
            background-color: #caf1ef;
            .icon_sh {
              margin-top: 0.3rem;
              margin-left: 0.33rem;
            }
          }
          .insurance_details {
            margin-left: 1rem;
            #politic {
              color: #0aaeb7;
            }
          }
        }

        .delivery {
          border-bottom: 1px solid lightgray;
          margin: 0 1.8rem 1rem 0.8rem;
          .deliv_relay,
          .deliv_ups {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.4rem;
          }
          .deliv_relay > img {
            width: 15%;
          }
          .deliv_ups > img {
            width: 6%;
            margin-left: 1.1rem;
          }
        }

        .protection {
          margin: 0 1.8rem 1rem 0.8rem;
          text-align: center;
          border-bottom: 1px solid lightgray;
          p {
            color: #999999;
          }
        }
      }

      .product_details {
        margin: 1rem 3rem 0 1rem;
        ul {
          text-transform: uppercase;
          .detail {
            display: flex;
            justify-content: space-between;
            .detail_key {
              color: #999999;
            }
            .detail_val {
              color: #707070;
            }
          }
        }

        .basic_offer {
          margin: 1rem 2.8rem;
          #name {
            color: #0aaeb7;
            font-weight: bold;
          }

          #description {
            color: #707070;
          }
        }
      }
      .offer_buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .send_msg,
        .buy,
        .favorite {
          width: 20rem;
          font-size: 1.2rem;
          padding: 0.5rem;

          border-radius: 4px;
          margin-bottom: 0.6rem;
        }

        .send_msg {
          margin-top: 1rem;
          background-color: #fff;
          color: #0aaeb7;
          border: 2px solid #0aaeb7;
        }

        .buy {
          border: 2px solid #0aaeb7;
          background-color: #0aaeb7;
          color: #fff;
          font-weight: bold;

          &:hover {
            box-shadow: 0px 12px 20px 3px #0bd0db inset;
          }
        }

        .favorite {
          background-color: #fff;
          border: 2px solid #707070;
          color: #707070;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .product_card_offer {
    .offer_content {
      flex-direction: column;
      .images {
        margin-left: 1rem;
        margin-bottom: 2rem;
        .images_content {
          box-sizing: border-box;
          .image_main {
            margin-right: 0.1rem;
          }
          .images_stamp {
            display: flex;
            img {
              margin: 0 0.1rem 0.2rem 0.1rem;
            }
          }
        }
        .product_suggestion {
          display: none;
        }
      }

      .product_info {
        margin-left: 3rem;
        margin-bottom: 2rem;
        width: 90vw;
        .product_price {
          margin-left: 2rem;
          width: 35vw;
          float: right;
          .insurance {
            margin-bottom: 0.3rem;
            padding-bottom: 0.1rem;
            .icon_shield {
              width: 3.8rem;
              .icon_sh {
                margin-left: 0.35rem;
              }
              .insurance_details {
                font-size: 0.6rem;
                margin-bottom: 0.1rem;
                margin-top: 0.3rem;
              }
            }
          }

          .delivery {
            font-size: 0.8rem;
            margin-bottom: 0.3rem;

            .deliv_relay {
              margin-left: 0;
            }
            .deliv_ups {
              margin-left: 0;
              img {
                margin-left: 0.9rem;
              }
            }
          }
          .protection {
            font-size: 0.8rem;
            p {
              margin: 0.3rem;
            }
          }
        }

        .product_details {
          margin-top: 0.5rem;

          ul {
            margin-bottom: 10rem;
            .detail {
              .detail_key {
              }
              .detail_val {
              }
            }
          }

          .basic_offer {
            width: 108%;
            margin: 0;
            margin-left: -1rem;
            border-top: 1px solid lightgray;
            #name {
              font-size: 1.6rem;
              margin-left: 2rem;
              margin-bottom: 0;
            }
            #description {
              margin-top: 0.3rem;
              margin-left: 2rem;
              font-size: 1.2rem;
            }
          }
        }
        .offer_buttons {
            justify-content: flex-end;
            align-items: flex-end;
            margin-right: 1.8rem;
            margin-bottom: 2rem;
          .send_msg,
          .buy,
          .favorite {
            width: 18.2rem;
            font-size: 1.2rem;
            padding: 0.5rem;

            border-radius: 4px;
            margin-bottom: 0.6rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .product_card_offer {
    .offer_content {
      flex-direction: column;
      .images {
        .product_suggestion {
          display: none;
          .member_items {
          }
          .big_buy {
          }
        }
      }
    }
  }
}
